body {
    background: rgb(242, 243, 243);
}

.badge {
    font-size: 12px;
    text-align: left;
    width: 300px;
}

.hide {
    display: none;
}

.nav-btns {
    border-radius: 0;
}

.nav-btns:focus {
    box-shadow: none;
}

.repo-name {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .nav-btns {
        font-size: 10px;
    }
}
.repo-name-details {
    border: 2px solid rgb(133, 92, 199);
    border-radius: 18px;
    padding: 10px;
    background-image: linear-gradient(to right, #edf4f5, #f1f6f7, #f4f8fa, #f8fafb, #fbfcfd, #f9fbfe, #f7fbfe, #f5faff, #e8f8ff, #d8f7ff, #c8f5fa, #bbf4f0);
}
